.box{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    /* background-color: red; */
}


.card{
    background-color: lightblue;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%; /* Rasm kengligini ota element kengligiga moslaydi */
    height: 150px; /* Rasm balandligini o'rnatadi */
    object-fit: cover; /* Rasmni qirqib bo'lsa ham to'g'ri o'lchamda chiqaradi */
    display: block; /* Rasm atrofida bo'sh joy bo‘lmasligi uchun */
    margin: 0 auto; /* Rasmni markazlashtirish uchun */
    border-radius: 8px; /* Rasm burchaklarini yumaloq qiladi (ixtiyoriy) */
}