* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.hello {
    background-color: aquamarine;
    border-radius: 10px;
    margin: 40px 500px 100px 30px;
}

.testla {
    width: 100%;
    padding: 20px 0 20px 10px;
}